aiohttp==3.7.3
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.21.0
attrs==20.3.0
chardet==3.0.4
idna==3.0
multidict==5.1.0
PyJWT==2.0.0
PyPika==0.46.0
python-box==5.2.0
typing-extensions==3.7.4.3
uvloop==0.14.0
webskeleton==0.1.0
yarl==1.6.3
